@font-face {
    font-family: "iconfont";
    src: url('./resources/iconfont.ttf?t=1651508525073') format('truetype');
}

.iconfont {
    /*noinspection CssNoGenericFontName*/
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-redis:before {
    content: "\e619";
}

.icon-react:before {
    content: "\e741";
}

.icon-material-ui:before {
    content: "\ec07";
}

.icon-mongo-db:before {
    content: "\e66d";
}

.icon-node-js:before {
    content: "\ec12";
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1976d2 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 4px;
    border: 2px solid #ffffff;
}

.blog-content .MuiPaper-root {
    box-shadow: none;
    background-color: rgb(240, 240, 240);
    color: rgb(64, 64, 64);
    border-left-color: rgb(187, 187, 187);
    border-radius: 0;
    padding: 0.5em 0.5em 0.5em 2ch;
}
